// ---------------------------------------------
// Colors:
// ---------------------------------------------
$primary: #497722;
$secondary:#EFF3EC ;
$success: #00A71C;
$warning: #FD9244;
$danger: #CF2626;
$info: #BCD5FA ;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);

$custom-colors: (
    "tekenradar": #BC243A,
    "grey-1": #F0F4ED,
    "grey-2": #E0E7DA,
    "grey-3": #BFCBB6,
    "grey-4": #A6B599,
    "grey-5": #7F936E,
    "grey-6": #697B5B,
    "grey-7": #5C6B4F,
    "lightest": #fff,
    "danger-light": #FCCFCF,
    "warning-light": #FFD9BD,
    "success-light": #B6F1BF,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Additional colors:
.report-card-subtitle {
  color: map-get($theme-colors, "grey-7");
}
