@font-face {
  font-family: 'RijksoverheidSansWebText';
  font-style: normal;
  src: url("../fonts/ROsanswebtextregular.woff") format('woff');
}

@font-face {
  font-family: 'RijksoverheidSansWebText';
  font-style: italic;
  src: url("../fonts/ROsanswebtextitalic.woff") format('woff');
}

@font-face {
  font-family: 'RijksoverheidSansWebText';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ROsanswebtextbold.woff") format('woff');
}

@font-face {
  font-family: 'RijksoverheidSerifWeb';
  font-style: normal;
  src: url("../fonts/ROserifwebregular.woff") format('woff');
}

@font-face {
  font-family: 'RijksoverheidSerifWeb';
  font-style: italic;
  src: url("../fonts/ROserifwebitalic.woff") format('woff');
}

@font-face {
  font-family: 'RijksoverheidSerifWeb';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ROserifwebbold.woff") format('woff');
}
